@import "https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap";
@import "./reset.css";

:root {
	--color-rich-black-fogra-29: hsl(218deg 22% 7% / 100%);
	--color-independence: hsl(216deg 30% 31% / 100%);
	--color-dark-blue-gray: hsl(238deg 15% 45% / 100%);
	--color-mountbatten-pink: hsl(305deg 15% 55% / 100%);
	--color-bright-lilac: hsl(273deg 77% 78% / 100%);

	font-size: 6.25%;
}

body {
	background-color: var(--color-rich-black-fogra-29);
	color: var(--color-bright-lilac);
	font-family: Epilogue, sans-serif;
	font-size: clamp(16rem, 3vw, 18rem);
	line-height: 1.5;
}

.main-header {
	font-family: Montserrat, Epilogue, sans-serif;
	font-weight: 300;
	padding-block: clamp(16rem, 8vw, 50rem);
	padding-inline: clamp(16rem, 8vw, 50rem);
	text-align: center;
}

.main-title {
	font-size: clamp(22rem, 8vw, 50rem);
	margin-block-end: 20rem;
}

.secondary-title {
	font-size: clamp(20rem, 4vw, 30rem);
}

.main {
	padding-inline: clamp(16rem, 8vw, 50rem);
	text-align: center;
}

.my-image {
	border-radius: 50%;
	max-inline-size: min(clamp(250rem, 50vw, 400rem), 100%);
}

.social-links__list {
	display: flex;
	flex-direction: column;
	gap: 20rem;
	padding-block: clamp(16rem, 8vw, 50rem);
}

.social-links__link {
	color: var(--color-mountbatten-pink);
	transition: color 80ms ease;
}

@media (hover: hover) {
	.social-links__link:hover {
		color: var(--color-bright-lilac);
	}
}

.social-links__link:focus-visible {
	border-radius: 3rem;
	outline: 2rem dashed var(--color-independence);
	outline-offset: 2rem;
}
